// COLORS
//Choose color palette ==> https://www.materialpalette.com/

$primary-color: #465047;
$dark-primary-color: #0097A7;
$light-primary-color: #B2EBF2;
$accent-color: #00BCD4;
$text_icons: #fff;
$primary-text: #212121;
